### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### R ###
# History files
.Rhistory
.Rapp.history

# R Project file
.Rproj
.Rproj.user

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# knitr and R markdown default cache directories
*_cache/
/cache/
